* {
  margin: 0px;
}
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 160px;
}
.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: white;
  margin-right: 20px;
}
.searchbar input {
  padding: 10px;
  margin-right: 20px;
  border-radius: 3px;
  border: none;
}
.searchbar-btn button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
}
.App {
  text-align: center;
}

/*Types Styles*/
.fire {
  background-color: rgb(255, 0, 0);
  border: 1px solid red !important;
  color: rgb(255, 255, 255) !important;
}

.grass {
  background-color: rgb(21, 153, 21);
  border: 1px solid rgb(21, 153, 21) !important;
  color: rgb(255, 255, 255) !important;
}
.poison {
  background-color: rgb(183, 0, 255);
  border: 1px solid rgb(183, 0, 255) !important;
  color: rgb(255, 255, 255);
}

.water {
  background-color: rgb(40, 107, 233);
  border: 1px solid rgb(40, 107, 233) !important;
  color: rgb(255, 255, 255);
}

.flying {
  background-color: rgb(107, 107, 107);
  border: 1px solid rgb(107, 107, 107) !important;
  color: white;
}

.bug {
  background-color: rgb(148, 255, 25);
  border: 1px solid rgb(148, 255, 25) !important;
  color: white;
}
/*-----------*/
.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  /*grid-template-columns: repeat(3, 1fr);*/
}
.pokemon-card {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 8px 8px 0 8px;
}

.pokemon-card-top {
  display: flex;
  justify-content: space-between;
}

.pokemon-card-bottom {
  display: flex;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
  color: rgb(2, 2, 2);
}

.pokemon-type-text {
  border: 1px solid rgb(5, 5, 5);
  border-radius: 4px;
  padding: 2px 12px;
  margin-left: 4px;
}
